@charset "utf-8";
/* CSS Document */
.post{
background-color:#FFFFFF; margin-top:20px; margin-bottom:20px; margin-right:30px; margin-left:30px; padding:5px; box-shadow:0px 0px 5px 5px #DCDCDC
}

